:root {
  --primary: #de5f18;
  --primary-dark: #590e08;
}

@font-face {
  font-family: glot;
  src: url("/fonts/glot-bold-italic.otf");
}

@font-face {
  font-family: circle;
  src: url("/fonts/circle-rounded.otf");
}

* {
  max-width: vw100 !important;
}

html,
body {
  width: vw100;
  height: vh100;
  padding: 0;
  margin: 0;
}

.ht6-navbar {
  width: 100%;
  background-color: black;
  padding: 16px;
  z-index: 100;
  position: absolute;

}

.banner {
  background-image: url("../../public/background.png");
  background-size: cover;

  margin-top: 0px;
  padding-top: 16px;
  transform: translateY(42px);
  height: 689;
}

.title {
  font-family: glot;
  font-size: 64px;
  text-align: center;
  line-height: 64px;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}

a {
  background-color: var(--primary);
  font-family: glot;
  font-size: 24px;
  text-decoration: none !important;
  color: black !important;
  border-radius: 28px;
  padding: 0 48px 12px 48px;
  transition: 0.1s;
}

a:hover {
  background-color: #E18534;
}

a:active {
  background-color: #E18534;
}

.icon {
  background-color: transparent !important;
  text-decoration: none !important;
}

iframe {
  margin-top: 32px;
  background-color: black;
  background: linear-gradient(to bottom, #000000, #202020);
  padding: 8px;
  border-radius: 28px;
}

.linear-background {
  background: linear-gradient(to bottom, #000000 30.73%, var(--primary) 100%);
}

.ht6-hr {
  background-color: var(--primary-dark);
  height: 42px;
  width: 100%;
  margin-top: 42px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 16px solid #000 !important;
  margin: 1em 0 !important;
  padding: 0;
}

.countdown {
  background-color: var(--primary);
  padding: 0 48px 12px 48px;
  width: 70%;
  border-radius: 12px;
  position: absolute;
  text-align: center;
  margin-left: 15%;
  margin-top: 4px;
}

.ht6-card {
  height: 230px;
  width: 287px;
  background-color: #161616;
  border-radius: 12px;
  padding-top: 0;
}

.photo-card {
  transform: translateY(-42.5px);
}

h3 {
  font-family: circle;
  color: white !important;
  font-size: 16px !important;
  text-align: center;
  padding: 0;
  margin: 0;
}

.free {
  background: linear-gradient(to bottom, #3D7862, #18DE97);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 1024px) {
  .title {
    font-family: glot;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
  }

  a {
    background-color: var(--primary);
    font-family: glot;
    font-size: 20px;
    text-decoration: none !important;
    color: black !important;
    border-radius: 28px;
    padding: 12px 48px 12px 48px;
    transition: 0.1s;
    margin: 0px;
  }

  .countdown {
    background-color: var(--primary);
    padding: 8px 24px 12px 24px;
    width: 90%;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    margin-left: 5%;
    margin-top: 4px;
  }

  .ht6-hr {
    background-color: var(--primary-dark);
    height: 18px;
    width: 100%;
    margin-top: 32px;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 8px solid #000 !important;
    margin: 0 !important;
    padding: 0;
  }
}