:root {
  --primary: #de5f18;
  --secondary: #18de97;
  --secondary-dark: #114b36;
}

@font-face {
  font-family: glot;
  src: url("/fonts/glot-bold-italic.otf");
}

@font-face {
  font-family: circle;
  src: url("/fonts/circle-rounded.otf");
}
html,
body {
  width: vw100;
  height: vh100;
  padding: 0;
  margin: 0;
}

.ht6-navbar {
  width: 100%;
  background-color: black;
  padding-top: 8px;
  z-index: 100;
  position: absolute;
}

.banner {
  background-image: url("../../public/background.png");
  background-size: cover;

  margin-top: 0px;
  padding-top: 16px;
  transform: translateY(42px);
  height: 689;
}

.title {
  font-family: glot;
  font-size: 64px;
  text-align: center;
  line-height: 64px;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}

a {
  background-color: var(--secondary);
  font-family: glot;
  font-size: 24px;
  text-decoration: none !important;
  color: white !important;
  border-radius: 28px;
  padding: 0 48px 12px 48px;
  transition: 0.1s;
}

a:hover {
  background-color: var(--secondary-dark);
}

a:active {
  background-color: var(--primary);
}

video {
  margin-top: 32px;
  background-color: black;
  background: linear-gradient(to bottom, #000000, #202020);
  padding: 8px;
  border-radius: 28px;
}

.linear-background {
  background: linear-gradient(to bottom, #000000 30.73%, var(--primary) 100%);
}

.ht6-hr {
  background-color: var(--secondary-dark);
  height: 42px;
  width: 100%;
  margin-top: 42px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 16px solid #000 !important;
  margin: 1em 0 !important;
  padding: 0;
}

.countdown {
  background-color: var(--secondary);
  padding: 0 48px 12px 48px;
  width: 70%;
  border-radius: 12px;
  position: absolute;
  text-align: center;
  margin-left: 15%;
  margin-top: 4px;
}

.ht6-card {
  height: 211px;
  width: 287px;
  background-color: #161616;
  border-radius: 12px;
  padding-top: 0;
}

.photo-card {
  transform: translateY(-42.5px);
}

h3 {
  font-family: circle;
  color: white !important;
  font-size: 16px !important;
  text-align: center;
  padding: 0;
  margin: 0;
}
